p {
  font-size: 17px;
}

#types {
  position: relative;
  top: 50px;
}

#types p {
  font-size: 13px;
}

#types img {
  width: 180px;
  height: 180px;
}

.banner {
  width: 1250px;
}

button {
  position: relative;
  left: 150px;
}

#fav img {
  width: 392px;
  height: 298px;
  display: inline-block;
}

#fav {
  position: relative;
  top: 50px;
}

.collapse.in {
  display: inline-block;
}